.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container{
    background-color: #1A0B2E;
}

.logo p{
    color: white;
}
.logo span{
    background: linear-gradient(225deg,#9100F8,#FB09B4,#F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu{
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    max-height: 92px;
    max-width: 80%;
}
.logo{
    font-weight:bold ;
    font-size: 32px;
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 120px
    width: 219px;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

.btn{
    margin: 12px 16px;
    align-items: center;
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    background:linear-gradient(225deg,#9100F8,#FB09B4,#F7E93F);
    color: white;
    font-size: 16px;
    font-weight: 600px ;
}
.header{
    background: url("./assets/hero-bg.png");
    background-position: center;
    width: 100%;
  
}
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-around;
}

.img1{
    margin-top: 170px;
    margin-bottom: 121px;
}

.header-text h1{
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bolder;
}
.header-text p{
    text-align: center;
    margin-top: 8px;
    color: white;
    font-size: 16px;
}
.button{
    display: flex;
    margin-top: 24px;
    justify-content: center;
    margin: inherit;
    margin-bottom:101px;
}
.first-btn{
    margin: 12.5px 20px 12.5px 47px;
    width: 59%;
    height: 44px;
    border-radius: 10000px;
    background:linear-gradient(225deg,#9100F8,#FB09B4,#F7E93F);
    color: white;
    font-size: 16px;
    font-weight: 600px ;
    justify-content: center;
}
.second-btn{
    margin-top: 14px;
    width:201px;
    height: 42px;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    background-color: transparent;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600px ;
    justify-content: center;
}
.about{
    width: 75%;
    max-width: 1200px;
    text-align: center;
    margin: 0px auto;
}
.about-info{
    margin-top: 50px;
}
.about-info h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.about-info p{
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    color: white;
}
hr{
    border: 1px solid gray;
    margin: 80px 0px;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
    margin-bottom: 120px;
}
.card-info h1{
    font-size: 48px;
    font-weight: 900px;
    color: #00FF88;
    margin-bottom: 16px;
}
.card-info p{
    font-size: 16px;
    color: white;
}